pycsp3
attrs==21.4.0
bidict==0.21.4
cycler==0.11.0
fonttools==4.32.0
funcy==1.17
joblib==1.1.0
kiwisolver==1.4.2
lxml==4.8.0
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
pandas==1.4.2
parsimonious==0.8.1
Pillow==9.1.0
py-aiger==6.1.23
py-aiger-cnf==5.0.4
pyparsing==3.0.8
pypblib==0.0.4
pyrsistent==0.18.1
python-dateutil==2.8.2
python-sat==0.1.7.dev16
pytz==2022.1
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
sortedcontainers==2.4.0
termcolor==1.1.0
threadpoolctl==3.1.0
toposort==1.7
xgboost==1.5.2
